/* Config for even smaller screens*/
@media only screen and (min-width:280px) {
    body {
        min-height: 93vh;
        background:linear-gradient(25deg, #4B4E53, #e60b0b);
        padding-top: 1%;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 6%;
        background-repeat: no-repeat;
        color: #ebeded;
        text-align:center;
    }
    #site_name {
        text-align: center;
        font-size:1em;
    }
    #proventos_label {
        text-align:center;
        font-size:0.8em;
    }
    #proventos {
        text-align:center;
        font-size:2.3em;
        color: orange;
        text-align: center;
        line-height: 0%;
    }
    #details {
        text-align:center;
        font-size:0.8em;
        line-height:1vh;
    }
    #titulo {
        text-align:center;
        font-size:0.8em;
    }
    #referencias, #graus, #ats, #dias, #dificil_acesso, #dificil_lotacao {
        text-align:center;
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size:0.8em;
        line-height:1vh;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
    .flex-row {
    display: flex;
    justify-content: center;
    }
    .flex-item {
    margin: 0.01em;
    }
}

/* Config for small screens - My phone included*/
@media only screen and (min-width:320px) {
    body {
        min-height: 94vh;
        background:linear-gradient(25deg, #4B4E53, #e60b0b);
        padding-top: 1%;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 4%;
        background-repeat: no-repeat;
        color: #ebeded;
        text-align:center;
    }
    #site_name {
        text-align: center;
        font-size:1.4em;
    }
    #proventos_label {
        text-align:center;
        font-size:1em;
    }
    #proventos {
        text-align:center;
        font-size:3em;
        color: orange;
        text-align: center;
        line-height:0.1vh;
    }
    #details {
        text-align:center;
        font-size:0.8em;
        line-height:1vh;
    }
    #titulo {
        text-align:center;
        font-size:0.9em;
    }
    #referencias, #graus, #ats, #dias, #dificil_acesso, #dificil_lotacao {
        text-align:center;
        margin-left: 1em;
        margin-right: 1.2em;
        font-size:0.9em;
        line-height:1vh;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
    .flex-row {
    display: flex;
    justify-content: center;
    }
    .flex-item {
    margin: 0.01em;
    }
}

/* Config for small devices and most mobile phones*/
@media screen and (min-width:480px) {
    body {
        min-height: 93vh;
        background:linear-gradient(25deg, #4B4E53, #e60b0b);
        padding-top: 1%;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 4%;
        background-repeat: no-repeat;
        color: #ebeded;
        text-align:center;
    }
    #proventos_label {
        text-align:center;
        font-size:1.1em;
    }
    #proventos {
        text-align:center;
        font-size:3.1em;
        color: orange;
        text-align: center;
        line-height:1vh;
    }
    #details {
        text-align:center;
        font-size:0.9em;
        line-height:1vh;
    }
    #titulo {
        text-align:center;
        font-size:0.9em;
    }
    #referencias, #graus, #ats, #dias, #dificil_acesso, #dificil_lotacao {
        text-align:center;
        margin-left: 1em;
        margin-right: 1em;
        font-size:0.9em;
        line-height:1vh;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
      }
      
    .flex-row {
    display: flex;
    justify-content: center;
    }
    .flex-item {
    margin: 0.01em;
    }
}

/* Config for tablets*/
@media screen and (min-width:768px) {
    body {
        min-height: 93vh;
        background:linear-gradient(25deg, #4B4E53, #e60b0b);
        padding-top: 3%;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 8%;
        background-repeat: no-repeat;
        color: #ebeded;
        text-align:center;
    }
    #proventos_label {
        text-align:center;
        font-size:1.2em;
    }
    #proventos {
        text-align:center;
        font-size:3.1em;
        color: orange;
        text-align: center;
        line-height:1vh;
    }
    #details {
        text-align:center;
        font-size:0.9em;
        line-height:1vh;
    }
    #titulo {
        text-align:center;
        margin-bottom: 0;
        font-size:0.9em;
        line-height:7vh;
    }
    #referencias, #graus, #ats, #dias, #dificil_acesso, #dificil_lotacao {
        text-align:center;
        margin-left: 1em;
        margin-right: 1em;
        font-size:0.9em;
        line-height:1vh;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
      }
      
    .flex-row {
    display: flex;
    justify-content: center;
    }
    .flex-item {
    margin: 0.01em;
    }
}

/* Config for small desktops*/
@media screen and (min-width:992px) {
    body {
        min-height: 93vh;
        background:linear-gradient(25deg, #4B4E53, #e60b0b);
        background-repeat: no-repeat;
        color: #ebeded;
        text-align:center;
    }
    #proventos_label {
        text-align:center;
        font-size:1.1em;
    }
    #proventos {
        text-align:center;
        font-size:3.1em;
        color: orange;
        text-align: center;
        line-height:1vh;
    }
    #details {
        text-align:center;
        font-size:0.8em;
        line-height:1vh;
    }
    #titulo {
        text-align:center;
        font-size:1em;
    }
    #referencias, #graus, #ats, #dias, #dificil_acesso, #dificil_lotacao {
        text-align:center;
        margin-left: 1em;
        margin-right: 1em;
        font-size:0.9em;
        line-height:1vh;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
      }
      
    .flex-row {
    display: flex;
    justify-content: center;
    }
    .flex-item {
    margin: 0.01em;
    }
}

/* Config for large devices and wide screens*/
@media screen and (min-width:1200px) {
    body {
        min-height: 93vh;
        background:linear-gradient(25deg, #4B4E53, #e60b0b);
        padding-top: 1%;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 1%;
        background-repeat: no-repeat;
        color: #ebeded;
        text-align:center;
    }
    #proventos_label {
        text-align:center;
        font-size:1em;
    }
    #proventos {
        text-align:center;
        font-size:3.1em;
        color: orange;
        text-align: center;
        line-height:1vh;
    }
    #details {
        text-align:center;
        font-size:0.8em;
        line-height:1vh;
    }
    #titulo {
        text-align:center;
        font-size:0.9em;
    }
    #referencias, #graus, #ats, #dias, #dificil_acesso, #dificil_lotacao {
        text-align:center;
        margin-left: 1em;
        margin-right: 1em;
        font-size: 0.9em;
        line-height:1vh;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
      }
    .flex-row {
    display: flex;
    justify-content: center;
    }
    .flex-item {
    margin: 0.01em;
    }
}

/* Config for large devices and wide screens - My PC included*/
@media screen and (min-width:1366px) {
    body {
        min-height: 93vh;
        background:linear-gradient(25deg, #4B4E53, #e60b0b);
        padding-top: 1%;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 1%;
        background-repeat: no-repeat;
        color: #ebeded;
        text-align:center;
    }
    #proventos_label {
        text-align:center;
        font-size:1em;
    }
    #proventos {
        text-align:center;
        font-size:3em;
        color: orange;
        text-align: center;
        line-height:1vh;
    }
    #details {
        text-align:center;
        font-size:0.9em;
        line-height:1vh;
    }
    #titulo {
        text-align:center;
        font-size:0.9em;
    }
    #referencias, #graus, #ats, #dias, #dificil_acesso, #dificil_lotacao {
        text-align:center;
        margin-left: 1em;
        margin-right: 1em;
        font-size:0.9em;
        line-height:1vh;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
      }
      
    .flex-row {
    display: flex;
    justify-content: center;
    }
    .flex-item {
    margin: 0.01em;
    }
}
